* {
	text-align: center;
}

#loginContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#navbarSupportedContent{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#navbar-ul{
	list-style: none;
}

.nav-item{
	margin-left: 5%;
}



#navbar-ul li a {
	padding-top: 5%;
}

.inner-note-card{
	border: solid 2px black;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 2em;
}

.outer-note-card{
	display: flex;
	flex-direction: row;
}

.delete-btn{
	margin-bottom: 2%;
}

#searchBar{
	height: 100%;
	align-self: center;
}

.container-fluid{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

